/*
    1 - General Styles
    2 - Common Styles
        2.1 - Main-Title
    3 - Sections 
        3.0 - Header Section
        3.1 - Landing Section
        3.2 - Article Section
        3.3 - Gallery
        3.4 - Features
        3.5 - Testimonials
    4 - Animation
 */


/* 1 - Start Global Styles */
*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px;
    margin : 0px;
}
:root {
    --main-color : #2196F3;
    --main-color-alt : #1787e0;
    --main-trans : 0.3s;
    --item-fill : #FAFAFA;
    --main-padding: 100px;
    --sub-title : #777;
    --section-bg : #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans', sans-serif;
}
ul {
    list-style: none;
    padding: 0px;
    margin : 0px;
}
.container {
    padding-left: 15px;
    padding-right : 15px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
input:focus,
textarea:focus  {
    outline: none;
}
/* Small Screen */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screen */
@media (min-width : 992px) {
    .container {
        width:970px;
    }
}
/* Large Screen */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Styles */


/* 2 - Start Common Style */
/* Main Title */
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::after,
.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after {
    right: -30px;
}
.main-title::before {
    left: -30px;
}
.main-title:hover::after {
    z-index: -1;
    animation: fill-right .5s linear forwards;
    -webkit-animation: fill-right .5s linear forwards;
}
.main-title:hover::before {
    z-index: -1;
    animation: fill-left .5s linear forwards;
    -webkit-animation: fill-left .5s linear forwards;
}
@keyframes fill-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
@keyframes fill-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
.main-title:hover {
    color : #fff;
    border: 2px solid #fff;
    transition-delay: .5s;
}
/* End Common Style */


/* 3 - Sections */

/* 3.0 - Start Header */
header {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .logo {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 65px;
    }
}
header .header-link {
    display: flex;
}
@media (max-width: 767px) {
    header .header-link {
        margin: auto;
    }
}
header .header-link > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    padding: 0 30px;
    position: relative;
    color: #000;
    font-size: 18px;
    transition: var(--main-trans);
    z-index: 1;
}
@media (max-width: 767px) {
    header .header-link > li > a {
        height: 45px;
        padding: 0 10px;
        font-size: 14px;
    }
}
header .header-link > li > a:hover {
    color : var(--main-color)
}
header .header-link > li > a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background:  var(--item-fill);
    border-top: 3px solid var(--main-color);
    z-index: -1;
    transition: var(--main-trans);
}
header .header-link > li > a:hover::before {
    width: 100%;
}

/* Mega-Menu */
header .mega-menu {
    position: absolute;
    top: 102%;
    left: 0;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-bottom: 2px solid var(--main-color);
    transform-origin: top right;
    transition: transform var(--main-trans);
    -webkit-transition: transform var(--main-trans), opacity .1s;
    -moz-transition: transform var(--main-trans);
    -ms-transition: transform var(--main-trans);
    -o-transition: transform var(--main-trans);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    opacity: 0;
    z-index: 10;
}
header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    header .mega-menu {
        gap: 0;
    }
    header .mega-menu .image img {
        display  : none
    }
}
header .header-link li:last-child:hover .mega-menu {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    opacity: 1;
}
header .mega-menu .mega-list {
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
    gap: 40px;
    flex: 1;
}
@media (max-width: 768px) {
    header .mega-menu .mega-list {
        flex-direction: column;
        gap: 0;
    }
}
header .mega-menu .mega-list ul{
    min-width: 250px;
}
header .mega-menu .mega-list ul > li > a{
    display: block;
    padding: 15px 15px 15px 0;
    font-size: 18px;
    color: var(--main-color);
    border-bottom: 1px solid #e9e6e6;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
header .mega-menu .mega-list ul > li:last-child a {
    border: none;
}
@media (max-width: 768px) {
    header .mega-menu .mega-list ul:first-of-type > li:last-child a {
        border-bottom: 1px solid #e9e6e6;
    }
}
header .mega-menu .mega-list ul > li a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--item-fill);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    z-index: -1;
}
header .mega-menu .mega-list ul > li a:hover::after {
    width: 100%;
}
header .mega-menu .mega-list ul > li > a i{
    margin: 0 12px;
}
/* End Header */ 

/* 3.1 - Start Landing */
.landing {
    position: relative;
}
.landing .container {
    min-height: calc(100vh - 73px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-bg);
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
}
.landing .text {
    flex : 1;
}
@media (max-width : 992px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
}
@media (max-width : 767px) {
    .landing .text h1 {
        font-size: 30px;
    }
}
.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0;
    color: #777;
    max-width: 500px;
}
@media (max-width : 992px) {
    .landing .text p {
        margin: 15px auto
    }
}
@media (max-width : 767px) {
    .landing .text p {
        margin: 20px auto;
        font-size: 20px;
    }
}
.landing .image img {
    width: 600px;
    position: relative;
    animation: up-down 5s linear infinite;
    -webkit-animation: up-down 5s linear infinite;
}
@media (max-width : 992px) {
    .landing .image {
        display : none
    }
}
.landing .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: color var(--main-trans);
    animation: bouncing 5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
    -webkit-transition: color var(--main-trans);
    -moz-transition: color var(--main-trans);
    -ms-transition: color var(--main-trans);
    -o-transition: color var(--main-trans);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
/* End Landing */

/* 3.2 - Start Article */
.article {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.article .container .box {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    transition: transform var(--main-trans), box-shadow var(--main-trans);
    -webkit-transition: transform var(--main-trans), box-shadow var(--main-trans);
    -moz-transition: transform var(--main-trans), box-shadow var(--main-trans);
    -ms-transition: transform var(--main-trans), box-shadow var(--main-trans);
    -o-transition: transform var(--main-trans), box-shadow var(--main-trans);
}
.article .container .box:hover {
    transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}
.article .container img {
    max-width: 100%;
}
.article .box .box-content {
    padding: 20px;
}
.article .box .box-content p {
    margin-top: 10px;
    line-height: 1.7;
    color : var(--sub-title)
}
.article .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article .box .info a{
    color : var(--main-color);
    font-weight: bold;
}
.article .box .info i{
    color : var(--main-color);
}
.article .box:hover .info i {
    animation: right-left .7s infinite;
    -webkit-animation: right-left .7s infinite;
}
/* End Article */

/* 3.3 - Start Gallery */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-bg);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13)  ,0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 5;
}
.gallery .box .image:hover::before {
    animation: flashing .7s;
    -webkit-animation: flashing .7s;
}
.gallery .box img {
    max-width: 100%;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}
/* End Gallery */

/* 3.4 - Start Features */
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: #fff;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    text-align: center;
    border: 1px solid #eee;
}
.features .box .img-holder {
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .quality .img-holder::before {
    background-color: rgba(244, 63, 54, 0.6);
}
.features .time .img-holder::before {
    background-color: rgba(0, 150, 135, 0.6)
}
.features .passion .img-holder::before {
    background-color: rgba(3, 168, 244, 0.6)
}
.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 200px 500px;
    border-color: transparent transparent #fff transparent;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.features .box:hover .img-holder::after {
    border-width: 0px 500px 220px 0px;
    right: -20px;
}
@media (max-width: 767px) {
    .features .box .img-holder::after {
        border-width: 0px 0px 200px 640px;
    }
    .features .box:hover .img-holder::after {
        border-width: 0px 640px 220px 0px;
        right: -20px;
    }
}
.features .img-holder img {
    max-width: 100%;
}
.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}
.features .quality h2::after {
    background-color: #f44036;
}
.features .time h2::after {
    background-color: #009688;
}
.features .passion h2::after {
    background-color: #03a9f4;
}
.features .box p {
    font-size: 20px;
    line-height: 2;
    color: var(--sub-title);
    margin: 30px auto;
    padding: 25px;
}
.features .box a {
    display: block;
    border: 3px solid;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 7px;
    transition: color var(--main-trans), background-position var(--main-trans);
    -webkit-transition: color var(--main-trans), background-position var(--main-trans);
    -moz-transition: color var(--main-trans), background-position var(--main-trans);
    -ms-transition: color var(--main-trans), background-position var(--main-trans);
    -o-transition: color var(--main-trans), background-position var(--main-trans);
}
.features .box:hover a {
    color: #fff;
    background-position: left bottom;
}
.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
/* End Features */

/* 3.5 - Start Testimonials */
.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-bg);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.testimonials .box img {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid var(--section-bg);
}
.testimonials .box h3 {
    margin: 0 0 10px;
}
.testimonials .box .title {
    color: var(--sub-title);
    margin-bottom: 10px;
    display: block;
}
.testimonials .box .filled {
    color: #ffc107
}
.testimonials .box p {
    line-height: 1.6;
    color: #555;
    margin-top: 10px;
    margin-bottom: 0px;
}
/* End Testimonials */

/* 3.06 Start Team */
.team {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team .team-box {
    position: relative;
}
.team .team-box::before,
.team .team-box::after    {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.team .team-box::before {
    width: calc(100% - 60px);
    background: #F3F3F3;
    z-index: -2;
}
.team .team-box::after {
    width: 0;
    background: #e4e4e4;
    z-index: -1;
}
.team .team-box:hover::after {
    width: calc(100% - 60px);
}
.team .team-box .data img {
    width: calc(100% - 60px);
    transition: var(--main-trans);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.team .team-box:hover .data img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .team-box .data {
    padding-top: 60px;
    display: flex;
    align-items: center;
}
.team .team-box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .team-box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sub-title);
    transition: color var(--main-trans);
    -webkit-transition: color var(--main-trans);
    -moz-transition: color var(--main-trans);
    -ms-transition: color var(--main-trans);
    -o-transition: color var(--main-trans);
}
.team .team-box .data .social a:hover {
    color :var(--main-color-alt);
}
.team .team-box .info {
    padding-left: 85px;
}
.team .team-box .info h3 {
    color: var(--main-color);
    transition: color var(--main-trans);
    font-size: 22px;
    margin-top: 15px;
}
.team .team-box:hover .info h3 {
    color: var(--sub-title);
}
.team .team-box .info p {
    margin: 15px 0 25px 0;
}
/* End Team */

/* 3.07 - Start Services */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-bg);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box {
    position: relative;
    background: #fff;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13)  ,0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    counter-increment: service;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.services .container .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.18)  ,0px 2px 4px 0px rgba(0, 0, 0, 0.18);
}
.services .container .box::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    transition: var(--main-trans);
}
.services .container .box:hover::after {
    width: 100%;
}
.services .container .box i{
    margin: 30px auto 20px;
    color: #d5d5d5;
    display: block;
    text-align: center;
}
.services .container .box h3{
    color: var(--main-color);
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.services .container .box .data{
    text-align: end;
    padding: 15px;
    background: #f7f7f7db;
    position: relative;
    overflow: hidden;
}
.services .container .box a{
    display: block;
    color: var(--main-color);
}
.services .container .box .data::before {
    content: "0" counter(service);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 101%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
    justify-content: center;
    font-weight: bold;
    padding-right: 15px;
}
.services .container .box .data::after {
    content: "";
    position: absolute;
    height: 101%;
    width: 45px;
    background: #d5d5d5;
    top: 0px;
    left: 80px;
    transform: skewX(-30deg);
}
/* End Services */

/* 3.08 - Start Our Skills */
.our-skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.our-skills .container {
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .our-skills .container img {
        display: none
    }
}
.our-skills .skills {
    flex: 1;
}
.our-skills .skill {
    margin-bottom: 18px;
}
.our-skills .skills h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills .skills h3 span {
    color: var(--main-color);
    font-size: 12px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.our-skills .skills .prog {
    height: 30px;
    background: #eee;
    margin: 10px auto 0;
    position: relative;
}
.our-skills .skills .prog span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
}
/* End Our Skills */

/* 3.09 - Start Work */
.work {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-bg);
}
.work .container {
    display: flex;
    align-items: center;
    gap: 100px;
}
.work .container .image {
    max-width: 100%;
}
@media (max-width: 991px) {
    .work .container  {
        flex-direction: column;
        gap: 50px;
    }
}
.work .info {
    flex: 1;
}
.work .info .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    padding: 30px;
    background-color: #f6f5f5;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
@media (max-width: 991px) {
    .work .container .box {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    }
}
.work .info .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #ececec;
    z-index: -1;
    transition: var(--main-trans);
}
.work .info .box:hover::before {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}
.work .box > img {
    width: 64px;
    margin-right: 30px;
}
@media (max-width: 991px) {
    .work .box > img {
        margin: 0;
    }
}
.work .box .data h3 {
    margin-bottom: 12px;
    font-size: 22px;
}
.work .box .data p {
    color: var(--sub-title);
    line-height: 1.7;
    font-size: 18px;
}
/* End Work */

/* 3.10 Start Events */
.events {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.events .container  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events .container  img {
    max-width: 450px;
}
@media (max-width: 992px) {
    .events .container  img {
        display: none;
    }
}
.events .container .info {
    flex: 1;
}
.events .container .time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
.events .container .time .unit {
    text-align: center;
    border: 1px solid #D4D4D4;
    border-radius: 7px;
    width: 75px;
    transition: var(--main-trans);
}
.events .container .time .unit span{
    display: block;
    transition: var(--main-trans);
}
.events .container .time .unit span:first-child{
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}
.events .container .time .unit span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #D4D4D4;
}
.events .container .time .unit:hover,
.events .container .time .unit:hover span:last-child {
    border-color: var(--main-color);
}
.events .container .info .title {
    text-align: center;
    font-size: 30px;
    margin: 40px 0 20px;
}
.events .container .info .description {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    color: var(--sub-title);
}
.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}
.events .container .subscribe form {
    width: 600px;
    margin: 20px auto;
    background-color: #f6f5f5;
    padding: 30px 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width: 768px) {
    .events .container .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
.events .container .subscribe form input[type="email"] {
    flex: 1;
    border-radius: 50px;
    padding: 20px;
    border: none;
    caret-color: var(--main-color-alt);
}
@media (max-width: 768px) {
    .events .container .subscribe form input[type="email"] {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.events .container .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-trans);
    -webkit-transition: opacity var(--main-trans);
    -moz-transition: opacity var(--main-trans);
    -ms-transition: opacity var(--main-trans);
    -o-transition: opacity var(--main-trans);
}
.events .container .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events .container .subscribe form input[type="submit"] {
    border-radius: 50px;
    padding: 20px;
    border: none;
    font-weight: bold;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
@media (max-width: 768px) {
    .events .container .subscribe form input[type="submit"] {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.events .container .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Events */

/* Start Price */
.price {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-bg);
}
.price .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.price .container .box {
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13)  ,0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    text-align: center;
    z-index: 1;
}
.price .container .box::before,
.price .container .box::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-trans);
}
.price .container .box::before {
    top: 0;
    left: 0
}
.price .container .box::after {
    bottom: 0;
    right: 0
}
.price .container .box:hover::before,
.price .container .box:hover::after {
    width: 100%;
}
@media (min-width : 1200px) {
    .price .container .box.popular {
        top: -20px;
    }
}
.price .container .box.popular .lable{
    position: absolute;
    writing-mode: vertical-lr;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 10px 35px 10px;
    right: 20px;
    font-weight: bold;
    width: 40px;
}
.price .container .box.popular .lable::before {
    content: "";
    position: absolute;
    bottom: 0;
    left : 0;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 20px;
}
.price .container .box .title{
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0;
    letter-spacing: -2;
}
.price .container .box .price-box{
    margin-bottom: 20px;
}
.price .container .box img{
    width: 80px;
    margin-bottom: 30px;
}
.price .container .box .amount{
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 6px;
    color: var(--main-color);
}
.price .container .box .time{
    color : var(--sub-title)
}
.price .container .box ul {
    text-align: left;
}
.price .container .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
    position: relative;
}
.price .container .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color-alt);
}
.price .container .box a {
    display: block;
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-weight: bold;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
}
.price .container .box a:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color : #fff
}
/* End Price */

/* Start Videos */
.videos {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-bg);
    border: 1px solid #ddd
}
@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}
.videos .holder .list {
    min-width: 300px;
    background-color: #fff;
}
.videos .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: #F4F4F4;
    color : #333;
}
.videos .holder .list ul li{
    padding: 20px;
    border-top: var(--section-bg);
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    cursor: pointer;
}
.videos .holder .list ul li:hover {
    background-color: #FAFAFA;
    color: var(--main-color)
}
.videos .holder .list ul li span{
    display: block;
    margin-top: 10px;
    color: var(--sub-title)
}
.videos .holder .preview{
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
.videos .holder .preview img{
    max-width: 100%;
}
.videos .holder .preview .info{
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
}
/* End Videos */

/* Start State */
.state {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.state h2.title {
    width: fit-content;
    margin: 0 auto 50px;
    font-size: 40px;
}
.state .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.state .container .box {
    padding: 20px;
    text-align: center;
    opacity: .7;
    transition: opacity var(--main-trans);
    -webkit-transition: opacity var(--main-trans);
    -moz-transition: opacity var(--main-trans);
    -ms-transition: opacity var(--main-trans);
    -o-transition: opacity var(--main-trans);
    position: relative;
}
.state .container .box::before,
.state .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.state .container .box::after{
    bottom: 0;
    left: 0
}
.state .container .box::before{
    top: 0;
    right: 0
}
.state .container .box:hover::before,
.state .container .box:hover::after {
    height: 100%;
}
.state .container .box:hover{
    opacity: 1;
}
.state .container .box h2 {
    font-size: 50px;
    margin: 10px 0;
}
.state .container .box span {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    color: var(--main-color-alt);
}
/* End State */

/* Start Animation */
@keyframes up-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -40px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% { /* To Down*/
        transform: translateY(0%) translateX(-50%);
        -webkit-transform: translateY(0%) translateX(-50%);
        -moz-transform: translateY(0%) translateX(-50%);
        -ms-transform: translateY(0%) translateX(-50%);
        -o-transform: translateY(0%) translateX(-50%);
    }
    40%, 60% {  /* To Up*/
        transform: translateY(-15px) translateX(-50%);
        -webkit-transform: translateY(-15px) translateX(-50%);
        -moz-transform: translateY(-15px) translateX(-50%);
        -ms-transform: translateY(-15px) translateX(-50%);
        -o-transform: translateY(-15px) translateX(-50%);
    }
}
@keyframes right-left {
    0%, 100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */